name: release

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  matrix-release:
    strategy:
      matrix:
        include:
          - platform: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
          - platform: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - platform: macos-latest
            target: aarch64-apple-darwin
    uses: ./.github/workflows/build.yml
    with:
      name: ${{ inputs.name }}
      version: ${{ inputs.version }}
      platform: ${{ matrix.platform }}
      target: ${{ matrix.target }}
